body {
  background-image: url(../../images/rock.png);
  background-size: cover;
}

.Sprite-element {
  border: 3px solid orange;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 20px;
  display: inline-block;
}
